{
  "plugins": [
    ["@babel/plugin-syntax-object-rest-spread"],
    ["macros"],
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "component": "./components",
          "util": "./utils",
          "layout": "./layouts",
          "style": "./styles",
          "image": "./image"
        }
      }
    ],
    ["babel-plugin-styled-components"],
    ["inline-react-svg"]
  ],
  "presets": [["next/babel"]]
}
